html{
    scroll-behavior: smooth;
}
#toolBar{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    border-bottom: 2px solid #9849ff;
    box-shadow: 0 0 10px #9849ff;
    z-index: 9999;
    position: fixed;
    background-color: #18181b;
}
.containerTool{
    width: 85%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    font-size: 15px;
}
.titleSite{
    font-size: 15px;
    color: #fff;
}
.tools{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools > span{
    cursor: pointer;
}

.tool::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #9849ff;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;

}

.tool:hover::after{
    width: 100%;
}

.tool{
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}



#toolBarMedia{
    width: 100%;
    height: 60px;

    display: none;
    top: 0;
    left: 0;

    border-bottom: 2px solid #9849ff;
    box-shadow: 0 0 10px #9849ff;
    z-index: 9999;
    position: fixed;
    background-color: #18181b;
}
.titleSiteMedia{
    display: none;
}


@media (max-width: 632px){
    #toolBar, .tools, .containerTool{
        display: none;
    }
    #toolBarMedia{
        display: flex;
        border: 1px solid red;
        align-items: center;
        justify-content: center;
    }
    .titleSiteMedia{
        display: flex;
        font-size: 15px;
        color: white;
    }
}