#sobreMim{
    width: 100%;
    height: 110vh;
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.containerPg2{
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
    /* height: 50%; */
    background-color: #151515;
    border: 1px solid #fff;
    flex-wrap: wrap;
}
.containerBoxIconsGeral{
    width: 100%;
    /* height: 200px; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.containerAvatar2{
    width: 300px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.confImg{
    width: 280px;
    height: 378px;
    border: 1px solid white;
    border-radius: 10%;
    
}
.confImg > img{
    width: 100%;
    border-radius: 10%;
}

.containerDescSobre{
    width: 65%;
    height: 100%;
    margin-left: 10px;

    display: flex;
    /* justify-content: end; */
    align-items: center;
    /* flex-direction: column; */
    color: #ffffff99;

    font-size: 20px;
    font-family: Archivo;

}
.Desc{
    width: 100%;
    height: 90%;
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 40px;
    box-shadow: 0 0 10px #9849ff;
}


@media (max-width: 1300px) {
    #sobreMim {
        height: 100vh;
    }
    .containerBox {
        width: 100%;
        height: 600px;
        flex-direction: column;
    }
    .containerPg2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containerBoxIconsGeral{
        width: 100%;
        height: 100px;
        margin-top: 30px;
    }
}
  

@media (max-width: 1000px) {
    #sobreMim{
        width: 100%;
        height: 200vh;
    }

    .containerBox {
        width: 100%;
        height: 1000px;
        flex-direction: row;
    }

    /* .confImg {
        width: 150px;
        border-radius: 10%;
    } */

    .containerDescSobre {
        width: 100%;
        margin-left: 0;
        height: 600px;
    }

    .containerPg2 {
        display: block;
    }

}





.whatsapp, .github{
    border-radius: 50%;
}



@media (max-width: 750px) {
    /* .containerBoxIcons {
        width: 100%;
        height: 250px;
    } */
    
}
/* 
@media (max-width: 680px) {
    #sobreMim {
        height: 400vh;
    }
    .containerBoxIcons {
        width: 100%;
        height: 220px;
    }

    #sobreMim {
        width: 100%;
        height: 200vh;
    }

    .containerBox {
        width: 100%;
        height: 100%;
    }
    .containerDescSobre{
        height: 100vh
    }
} */

@media (max-width: 572px) {
    #sobreMim{
        width: 100%;
        height: 300vh;
    
    }
    .containerBox {
        width: 100%;
        height: 1200px;
        flex-direction: row;
    }

    .containerBoxIconsGeral{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
}

@media (max-width: 472px) {
    #sobreMim{
        width: 100%;
        height: 340vh;
    
    }
    .containerBox {
        width: 100%;
        height: 1500px;
        flex-direction: row;
    }

    .containerBoxIconsGeral{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
}

@media (max-width: 390px) {
    #sobreMim{
        width: 100%;
        height: 350vh;
    
    }
    .containerBox {
        width: 100%;
        height: 1600px;
        flex-direction: row;
    }

    .containerBoxIconsGeral{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
    .confImg{
        width: 200px;
        height: 270px;
    }
}



.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
  
  .light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
  }
  
  .light-button button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
  }
  
  .light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button button.bt:hover .button-holder svg {
    fill: #9849ff;
  }
  
  .light-button button.bt:hover .button-holder {
    color: #9849ff;
    outline: #9849ff 2px solid;
    outline-offset: 2px;
  }
  
  .light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      #9849ff 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  