#sobreMim{
    width: 100%;
    height: 110vh;
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.containerPg2{
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 90%;
    /* height: 50%; */
    background-color: #151515;
    border: 1px solid #fff;
    flex-wrap: wrap;
}
.containerBoxIcons{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #151515;
    border: 2px solid #fff;
    flex-wrap: wrap;
}
.containerAvatar2{
    width: 300px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.confImg{
    width: 280px;
    height: 378px;
    border: 1px solid white;
    border-radius: 10%;
    
}
.confImg > img{
    width: 100%;
    border-radius: 10%;
}

.containerDescSobre{
    width: 65%;
    height: 100%;
    margin-left: 10px;

    display: flex;
    /* justify-content: end; */
    align-items: center;
    /* flex-direction: column; */
    color: #ffffff99;

    font-size: 20px;
    font-family: Archivo;

}
.Desc{
    width: 100%;
    height: 90%;
    /* margin-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 1300px) {
    #sobreMim {
        height: 100vh;
    }
    .containerBox {
        width: 100%;
        height: 600px;
        flex-direction: column;
    }
    .containerPg2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  

@media (max-width: 1000px) {
    #sobreMim{
        width: 100%;
        height: 180vh;
    
    }

    .containerBox {
        width: 100%;
        height: 1000px;
        flex-direction: row;
    }

    /* .confImg {
        width: 150px;
        border-radius: 10%;
    } */

    .containerDescSobre {
        width: 100%;
        margin-left: 0;
        height: 600px;
    }

    .containerPg2 {
        display: block;
    }

}



.boxIcon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000093;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    border: 2px solid #fff;
    flex-wrap: wrap;
}
.icon{
    width: 40px;
    transition: 1s;
    box-shadow: 0 0 10px #9849ff;
} 

.boxIcon:hover{
    width: 65px;
    height: 65px;
    border: 2px solid #9849ff;
    box-shadow: 0px 0px 10px 1px white;
}

.whatsapp, .github{
    border-radius: 50%;
}



@media (max-width: 750px) {
    /* .containerBoxIcons {
        width: 100%;
        height: 250px;
    } */
    
}
/* 
@media (max-width: 680px) {
    #sobreMim {
        height: 400vh;
    }
    .containerBoxIcons {
        width: 100%;
        height: 220px;
    }

    #sobreMim {
        width: 100%;
        height: 200vh;
    }

    .containerBox {
        width: 100%;
        height: 100%;
    }
    .containerDescSobre{
        height: 100vh
    }
} */

@media (max-width: 450px) {
    #sobreMim{
        width: 100%;
        height: 190vh;
    
    }
    .containerBox {
        width: 100%;
        height: 1600px;
        flex-direction: row;
    }

    .containerBoxIcons{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
}