#sobreMim{
    width: 100%;
    height: 110vh;
    margin-top: 70px;
    border: 1px solid yellow;

    display: flex;
    align-items: center;
    justify-content: center;

}
.containerPg2{
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerBox{
    display: flex;
    align-items: center;
    width: 80%;
    height: 70%;
    background-color: #151515;
    border: 1px solid #fff;
    flex-wrap: wrap;
}
.containerBoxIcons{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #151515;
    border: 2px solid #fff;
    flex-wrap: wrap;
}
.containerAvatar2{
    width: 300px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.confImg{
    width: 280px;
    height: 378px;
    border: 1px solid white;
    border-radius: 10%;
    
}
.confImg > img{
    width: 100%;
    border-radius: 10%;
}

.containerDescSobre{
    width: 65%;
    height: 100%;
    margin-left: 10px;

    display: flex;
    /* justify-content: end; */
    align-items: center;
    flex-direction: column;
    color: #fff;

}

.Name{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    flex-direction: column;

}
.Desc{
    width: 100%;
    height: 50%;
}


.QS{
    font-size: 20px;
    color: #9849ff;
    text-shadow: 0 0 10px #9849ff;
}
.nameDesc{
    margin-top: 5px;
    font-size: 25px;
    color: #fff;
}
.work{
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
}
.sobreMim{
    margin-top: 20px;
    font-size: 1.6rem;
    font-family: Archivo;
    color: #ffffffa8;
}





.boxIcon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000093;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
    border: 2px solid #fff;
    flex-wrap: wrap;
}
.icon{
    width: 40px;
    transition: 1s;
    box-shadow: 0 0 10px #9849ff;
} 

.boxIcon:hover{
    width: 65px;
    height: 65px;
    border: 2px solid #9849ff;
    box-shadow: 0px 0px 10px 1px white;
}

.whatsapp, .github{
    border-radius: 50%;
}



@media (max-width: 1303px) {
    #sobreMim{
        height: 90vh;
    }

    .containerAvatar2{
        width: 150px;
        height: 00px;
        border-radius: 10%;
        border: 1px solid red;
    }
    .containerBox{
        display: flex;
        width: 100%;
        height: 100%;
        border: 1px solid blue;

    }
    .confImg{
    height: 200px;
    border: 1px solid yellow;

    }
    .containerDescSobre{
        width: 70%;
        border: 1px solid purple;

    }
    .containerPg2{
        /* display: block; */
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid green;
    }
}
  


@media (max-width: 750px) {
    .containerBoxIcons{
        width: 100%;
        height: 100px;
        
    }
    
}
@media (max-width: 680px) {
    .containerBoxIcons{
        width: 100%;
        height: 200px;
    }
    #sobreMim{
        width: 100%;
        height: 200vh;    
    }
    .containerBox{
        width: 100%;
        height: 80%;
    }
}



@media (max-width: 681px) {
    #sobreMim{
        height: 130vh;
    }
    .containerAvatar2{
        width: 100%;
        height: 200px;
    }
    .containerBox{
        display: flex;
        width: 100%;
        height: 50%;
    }
    .confImg{
        width: 150px;
        height: 150px;
    }
    .containerDescSobre{
        width: 100%;
        height: 65vh;
        margin-top: 20px;
        
    }
    .containerPg2{
        height: 100%;
    }
    .Name{
        height: 120px;
    }
    .containerBoxIcons{
        margin-top: 100px;
    }
    
}

@media (max-width: 552px){

    .containerPg2{
        height: 150vh;
    }
}
@media (max-width: 446px){
    .containerPg2{
        height: 180vh;
    }
}

@media (max-width: 250px) {
    .containerBoxIcons{
        width: 100%;
        height: 500px;
    }
    .containerBox{
        width: 100%;
        height: 100%;
    }
    .containerBoxIcons{
        width: 100%;
        height: 250px;
    }
    
}