#home{
    width: 100%;
    height: 90vh;
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.containerPg1{
    width: 85%;
    height: 85%;

    display: flex;
    align-items: center;
}

.titleApresentacao h1{
    font-size: 25px;
    color: white;
}
.titleApresentacao span{
    font-size: 30px;
    color: #9849ff;
    text-shadow: 0 0 10px #9849ff;
}
.titleApresentacao p{
    font-size: 25px;
    color: white;
}
.descTituloBody{
  width: 65%;
  height: 160px;
}


.containerImgAvatar1 > img{
  width: 60%;
  overflow: hidden;
}

.containerImgAvatar1{
  display: none;
}


/* animação foto */
 .header-right {
   display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    height: 33rem;
    width: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    border: 3px solid #9849ff;
    box-shadow: 0 0 10px #9849ff;
    position: relative;
    animation: circleAnim linear infinite 20s;
  }
  @keyframes circleAnim {
    to {
      transform: rotate(360deg);
    }
}
@keyframes colorAnim {
to{
    filter: hue-rotate(360deg);
  }
  }
  .circle a {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #29d882;
    color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 22px;
    position: absolute;
    transition: 0.4s ease;
    animation: colorAnim linear infinite 20s;
  }
  .circle img{
    width: 90%;
  }
  

  .circle a:hover {
    background: #1d222a;
    color: #fff;
  }
  .circle a:nth-child(1) {
    left: calc(50% - 2rem);
    top: -2rem;
  }
  .circle a:nth-child(2) {
    top: calc(50% - 2rem);
    right: -2rem;
  }
  .circle a:nth-child(3) {
    top: calc(50% - 2rem);
    left: -2rem;
  }
  .circle a:nth-child(4) {
    left: calc(50% - 2rem);
    bottom: -2rem;
  }
  
  .developer-img {
    position: absolute;
  }
  .dev-img-wrapper {
    width: 300px;
    height: 300px;
    background-color: #9849ff;
    box-shadow: 0 0 10px #9849ff;
    border-radius: 50%;
    padding: 2rem 2rem 0 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .dev-img-wrapper img {
    height: 100%;
  }
  .dev-works {
    width: 25rem;
    height: 9rem;
    background-color: #1d222a;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    border: 0.2rem solid #bbb;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  .dev-experience {
    bottom: 10rem;
    right: 33rem;
  }
  .dev-projects {
    bottom: 1rem;
    right: -2rem;
  }
  .dev-works span:nth-child(1) {
    font-size: 3rem;
    width: 50%;
    text-align: center;
  }
  .dev-works span:nth-child(2) {
    color: #9849ff;
    width: 50%; 
  }
  
  
  
  .section-border {
    width: 0.3rem;
    height: 90rem;
    background-color: #9849ff;
    box-shadow: 0 0 10px #9849ff;
    margin-right: 5rem;
    position: relative;
  }
  .section-border::before {
    content: "";
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid #9849ff;
    box-shadow: 0 0 10px #9849ff;
    background-color: #1d222a;
    border-radius: 50%;
    position: absolute;
    left: -1.1rem;
    top: -2rem;
  }
.section-border::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #9849ff;
  box-shadow: 0 0 10px #9849ff;
  background-color: #1d222a;
  border-radius: 50%;
  position: absolute;
  left: -1.1rem;
  bottom: -2rem;
}
@media (max-width: 700px) {
  #home {
      height: 100vh;
  }
  
  .containerPg1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .titleApresentacao {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
  }

  .descTituloBody {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .containerAvatar {
      display: none;
  }

  .containerImgAvatar1 {
      display: flow-root;
      flex-direction: column;
      width: 400px;
      height: 400px;
      border-radius: 42% 58% 38% 62% / 68% 58% 42% 32%;
      background: linear-gradient(38deg, rgba(104,13,175,1) 14%, rgba(146,70,227,1) 41%, rgba(195,35,185,1) 65%);
      margin-top: 20%;
      overflow: hidden;
  }
  .containerImgAvatar1 > img{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid red; */
  } 
}

  @media (max-width: 483px) {
    .containerImgAvatar1 {
        width: 350px;
        height: 350px;
    }
    .containerImgAvatar1 > img{
      width: 100%;
      margin-top: 20px;
      /* border: 1px solid red; */
    } 
}

@media (max-width: 423px) {
    .containerImgAvatar1 {
        width: 300px;
        height: 300px;
    }
    .containerImgAvatar1 > img{
      width: 100%;
      margin-top: 20px;
      /* border: 1px solid red; */
    } 
}


